<% if logged_in? %>

    <h1> You are Logged In, <%= current_user.username %></h1>

    <%= render partial: "shared/user_header" %>

</div>

<% else %>

    <h1>Welcome!</h1>

    <br>
    <br>

    <div class="flex_container">

        <div class="user_signlog">

            <%= button_to "Login", '/login', method: :get, class: "btn btn-secondary" %>

            <br>

            <%= button_to "Sign Up", '/users/new', method: :get, class: "btn btn-secondary" %>
        
        </div>

    </div>

<% end %>


