<script> 
$(document.body).ready(function(){
	$("button").click( "slow", function(){
      if ( $("#surprise_box").is( ":hidden" ) ) {
          $("#surprise_box").slideDown();
      } else {
          $("#surprise_box").slideUp();
      }
     });
});
</script> 


<div class="test_btn">
    <button id="sliding_box_btn" class="btn btn-outline-primary">Press me!</button>
    <div id="surprise_box" class="sliding_box">
        <p>Hey! Surprise!</p>
    </div>
</div>


