// Showing Single Message Page

.show_comment {
    color: rgb(253, 244, 226);
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    margin: auto;
    background-color: #a72c3d;
    width: 100%;
    padding: .5em;
    margin-bottom: .3em;
    position: static;
    top: 0;
  }

  .full_message_contents { 
    margin: auto;
    background-color: #a72c3d;
    width: 70%;
    border-radius: 4px;
    padding: .5em;
    margin-bottom: .6em;
  }