// Showing Single Message Page

.show_comment {
    color: rgb(253, 244, 226);
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    margin: auto;
    background-color: #a72c3d;
    width: 100%;
    padding: .5em;
    margin-bottom: .3em;
    position: static;
    top: 0;
  }

  .full_message_contents { 
    margin: auto;
    background-color: #a72c3d;
    width: 70%;
    border-radius: 4px;
    padding: .5em;
    margin-bottom: .6em;
  }

// Comment Form

  #comment_form {
    margin: auto;
    margin-top: .4em;
    background-color: rgb(255, 252, 238);
    border: 3px solid #900;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
  }

  #comment_name {
    margin: auto;
    background-color: rgb(255, 252, 238);
    border: 3px solid #900;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    margin-top: .3em;
    margin-bottom: .3em;
  }

  #comment {
    margin: auto;
    background-color: rgb(255, 252, 238);
    border: 3px solid #900;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
  }