// ABOUT ME STYLING
#container {
    display: flex; /* or inline-flex */
}

.aboutme_page_contents {
    padding: 1em;
}

.aboutme_display {
    background-color: #a72c3d;
    width: 100%;
    border-radius: 4px;
    padding: .5em;
    overflow: auto;
    //display: flex;
}

.aboutme_content {
    font-size: medium;
    white-space: pre-wrap;
}

.aboutme_edit {
    display: none;
    background-color: #a72c3d;
    padding: 1em;
    width: 50%;
}

#aboutme_form {
    width: 100%;
    display: none;
}

#edit_aboutme {
    color: black;
}

#edit_box_btn {
    color:rgb(255, 246, 244);
    //display: block;
    //text-align: right;
    float: right;
}

#edit_box_btn:hover {
    color:rgb(219, 161, 146)
}

// TEST PAGE STYLING

.test_btn {
    margin: auto;
    padding: 3em;
}

#sliding_box_btn {
    border-color: rgb(31, 110, 84) !important;
    color: rgb(31, 110, 84) !important;
    width: 200px;
}

#sliding_box_btn:hover {
    background-color: rgb(31, 110, 84) !important;
    color: azure !important;
}

.sliding_box {
    background-color: rgb(31, 110, 84);
    position: absolute;
    height:500px; 
    width:200px;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: .5em;
    display: none;
}

// FORM FILE FEILD

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}